#startbtn {
    display: inline-block;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    text-decoration: none;
}
#startbtn:hover {
    cursor: pointer;
    background-color: deeppink;
    opacity: 100%;
}

.introForm{  
    background-color: rgb(206, 206, 206);
    width: 80%;
    position:relative;
    margin: 0 auto;
}

.introForm h1{
    background-color: green;
    margin:30 auto;
}

.introForm p{
    width: 70%;
    margin:0 auto;
    font-size: 30px;
}

.testForm{  
    background-color: rgb(206, 206, 206);
    width: 80%;
    position:relative;
    margin: 0 auto;
}

.testForm h1{
    background-color: green;
    margin:30 auto;
}

.testForm p{
    width: 87.1%;
    margin:0 auto;
    font-size: 30px;
}

footer p{
    font-size: 30px;
    color: red;
}
.description{
    text-align: center;
}
#circle{
    /*border-radius: 50%;*/
    display: none;
    position:relative;
    background-color: #333;
    border: none;
    border-radius: 50%;
    color:red;
    width: 50px;
    height: 50px;
    left:100px;
    top:100px;
}

#circle:hover{
    cursor: pointer;
    background-color: grey;
}

#start{
    display: inline-block;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
#start:hover {
    cursor: pointer;
    background-color: deeppink;
}

#box{
    position: relative;
    top:5%;
    width: 1300px;
    border:5px solid limegreen;
    height: 800px;
    margin: 0 auto;
    padding: 10px;
}

#stopwatch{
    width:40%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: block;
    padding: 5px;
}

#timer, #fulltime{
    width: auto;
    height:auto;
    padding:10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    border: 1px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
    background: #fbfbf0;
    color:darkblue;
    border-bottom: 4px solid darkgrey;
}

#fulltime{
    font-size: 16px;
    font-weight: bold;
    display: none;
}