/* Button styling */
#startbtn {
    display: inline-block;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    text-decoration: none;
}
#startbtn:hover {
    cursor: pointer;
    background-color: deeppink;
    opacity: 100%;
}

/* Style for box in the index */
.introForm{  
    background-color: rgb(206, 206, 206);
    width: 80%;
    position:relative;
    margin: 0 auto;
    text-align: center;
}

.introForm h1{
    background-color: green;
    margin:30 auto;
}

.introForm p{
    margin: 0 auto;
    font-size: 29px;
}

/*-----------------------------------------------------------------------------------*/

/*Styling for p tag in footer tag */
footer p{
    text-align: center;
    font-size: 15px;
    color: red;
}
.headtext{
    padding: 10px;
}

/*-----------------------------------------------------------------------------------*/

/*Style for the circle that pops up on the reaction test */
#circle{
    /*border-radius: 50%;*/
    display: none;
    position:relative;
    background-color: #333;
    border: none;
    border-radius: 50%;
    color:red;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 00px;
}
#circle:hover{
    cursor: pointer;
    background-color: grey;
}

/* Button styling */
#startbtn {
    display: inline-block;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    text-decoration: none;
}
#startbtn:hover {
    cursor: pointer;
    background-color: deeppink;
    opacity: 100%;
}
#begin{
    display: inline-block;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}
#begin:hover {
    cursor: pointer;
    background-color: deeppink;
}

/*-----------------------------------------------------------------------------------*/

/* styling for the box that appears on the reaction test page */
#box{
    position: relative;
    top:5%;
    width: 1300px;
    border:5px solid limegreen;
    height: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

/*-----------------------------------------------------------------------------------*/

/* styling for the timer on the reaction test page */
#stopwatch{
    width:40%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: block;
    padding: 5px;
}

#timer, #fulltime{
    width: auto;
    height:auto;
    padding:10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    border: 1px;
    text-align: center;
    box-shadow: 0 0 5px #ccc;
    background: #fbfbf0;
    color:darkblue;
    border-bottom: 4px solid darkgrey;
}

#fulltime{
    font-size: 16px;
    font-weight: bold;
    display: none;
}

.description{
    padding: 10px;
    font-size: 20px;
}